<header class="h-20 w-full flex justify-between items-center px-6 bg-[#181a1b]">
  <div class="header-button absolute z-40 top-5 right-9" #headerButton>
    <iconify-icon
      icon="fluent:panel-left-header-24-regular"
      width="24"
      height="24"
    ></iconify-icon>
    <p></p>
    <p></p>
  </div>
  <div class="logo-search h-full flex items-center gap-16">
    <div class="flex items-center">
      <img
        src="./assets/favicon.png"
        alt="transactions.my"
        class="max-h-[70px]"
      />
      <p class="text-xl font-bold text-white">transactions.my</p>
    </div>
    <div class="search mt-1">
      <app-search class="w-fit h-fit relative"></app-search>
    </div>
  </div>
  <div class="options flex items-center gap-5 cursor-pointer">
    <span
      class="techs flex gap-4 items-center pr-6 border-r-white/70 border-r-2 border-solid"
    >
      <a
        href="https://www.linkedin.com/in/kpsantiago"
        target="_blank"
        class="h-8 w-8 border-2 border-solid border-white/70 hover:border-[#5512cb] duration-300 text-white/70 hover:text-[#5512cb] rounded-full grid place-items-center"
      >
        <iconify-icon
          icon="brandico:linkedin"
          width="18"
          height="18"
        ></iconify-icon>
      </a>
      <a
        href="https://github.com/KpSantiago"
        target="_blank"
        class="h-8 w-8 border-2 border-solid border-white/70 hover:border-[#5512cb] duration-300 text-white/70 hover:text-[#5512cb] rounded-full grid place-items-center"
      >
        <iconify-icon
          icon="ant-design:github-outlined"
          width="18"
          height="18"
        ></iconify-icon>
      </a>
      <a
        href="mailto:santiago.kauajose12@gmail.com"
        target="_blank"
        class="h-8 w-8 border-2 border-solid border-white/70 hover:border-[#5512cb] duration-300 text-white/70 hover:text-[#5512cb] rounded-full grid place-items-center"
      >
        <iconify-icon
          icon="ic:baseline-email"
          width="18"
          height="18"
        ></iconify-icon>
      </a>
    </span>
    <span
      class="end-session py-1 px-2 flex items-center gap-3 relative"
      (click)="endSession()"
    >
      <iconify-icon
        icon="majesticons:door-exit"
        width="24"
        height="24"
      ></iconify-icon>
      <span class="font-semibold"> End session </span>
      <div class="line"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <div class="line4"></div>
    </span>
  </div>
</header>
