.error-below {
    opacity: 0;
    position: fixed;
    top: 20px;
    left: calc(50% - 155px);
    animation: error-animation .2s ease-out forwards;
}

@keyframes error-animation {
    to {
        opacity: 1;
    }
}