<div
  class="w-full h-fit flex items-center gap-4 cursor-pointer"
  title=" {{
    'Category: ' + transaction.category + '; Type: ' + transaction.type
  }}"
  #trion
>
  <div
    class="w-8 h-8 border-2 border-solid {{
      icons[transaction.category].color
    }} rounded-md"
  >
    <iconify-icon
      icon="{{ icons[transaction.category].icon }}"
      width="28"
      height="28"
    ></iconify-icon>
  </div>
  <div
    class="text w-full flex flex-col {{ icons[transaction.category].color }}"
  >
    <span class="font-medium text-sm">{{ transaction.title }}</span>
    <span class="text-[12px] text-white/50 font-semibold">{{
      transaction.created_at
    }}</span>
  </div>
  <span
    class="min-w-fit text-right {{
      transaction.type == 'credit' ? 'text-[#0d7]' : 'text-red-500'
    }}"
    >{{
      transaction.type == "credit"
        ? "+" + transaction.amount
        : transaction.amount
    }}</span
  >
</div>
<div
  class="parentPopUp fixed z-20 top-0 left-0 min-h-[100vh] h-[100vh] max-h-screen min-w-[100vw] grid place-items-center"
  #parentPopUp
>
  <div
    #popup
    class="popup bg-[#0007] backdrop-blur-md min-h-[100vh] min-w-[100vw] absolute z-[1]"
  ></div>
  <div
    class="bg-[#181a1b] min-h-[250px] max-h-fit w-[90%] max-w-[500px] relative z-10 p-3 rounded-lg"
  >
    <app-create-transaction
      [tranactionToUpdate]="transactionToUpdate"
    ></app-create-transaction>
  </div>
</div>
