<div
  class="s-container w-fit h-fit text-white flex gap-2"
  [formGroup]="selectForm"
>
  <input
    type="search"
    placeholder="Search for transactions"
    (input)="search($event)"
    (click)="verifySearchedContent()"
    class="h-8 px-2 w-[300px] rounded-full border-solid border-2 bg-[#181a1b] border-white/50 outline-[#5512cb]"
  />
  <select
    class="opacity-0 h-8 px-2 rounded-full border-solid border-2 bg-[#181a1b] border-white/50 outline-[#5512cb]"
    formControlName="select"
  >
    <option selected value="title">Title</option>
    <option value="amount">Amount</option>
    <option value="category">Category</option>
    <option value="created_at">Date</option>
    <option value="type">Type</option>
  </select>
  <div
    class="box absolute z-[-1] flex flex-col gap-3 bottom-[-190px] overflow-auto left-[-50px] bg-[#242729] w-[400px] h-[200px] rounded-xl shadow-xl shadow-[#181818aa] p-2"
  >
    @for (t of searchedItems; track $index) {
    <app-transaction-row [transaction]="t" [canOpenModal]="false"></app-transaction-row>
    }
  </div>
</div>
