<app-header
  class="w-full"
  (transactionsUpdated)="componentChanged()"
></app-header>
<div class="container w-full h-full flex">
  <div class="profile-button" title="Profile" #profileButton>
    <iconify-icon
      icon="fluent:person-28-regular"
      width="24"
      height="24"
    ></iconify-icon>
    <p></p>
    <p></p>
  </div>
  <main class="bg-[#242729] min-w-[70%] w-full h-full px-8">
    <h1 class="w-full font-bold text-2xl my-3 leading-7 text-white">
      Welcome back!
    </h1>
    <div
      class="chart-and-transactions min-w-full flex items-center justify-center gap-6 mb-6"
    >
      <app-categories
        class="min-w-[48.5%] max-w-full"
        [changed]="changeComponents"
        [transactions]="request"
      ></app-categories>
      <app-all-transactions
        class="min-w-[48.5%] max-w-full"
        [transactions]="request"
        (transactionsUpdated)="componentChanged()"
      ></app-all-transactions>
    </div>
    <app-expense-chart
      class="w-full"
      [changed]="changeComponents"
      [transactions]="request"
    ></app-expense-chart>
  </main>
  <app-infos
    class="h-full w-[35%]"
    [transactions]="numberLimitedTransactions"
    (transactionsCreated)="componentChanged()"
    (transactionsUpdated)="componentChanged()"
  ></app-infos>
</div>
