<div class="h-[270px] bg-[#181a1b] rounded-xl shadow-md p-3">
  <div class="flex justify-between items-center gap-5">
    <strong class="text-white">All transactions</strong>
    <app-pagination [pages]="pages" [page]="page"></app-pagination>
  </div>
  @if (transactions && transactions.length > 0){
  <div class="w-full h-full mt-4 flex flex-col gap-2">
    @for (t of transactionsPaginated; track $index) {
    <app-transaction-row
      class="w-full"
      [transaction]="t"
      (transactionsUpdated)="changed()"
    ></app-transaction-row>
    }
  </div>
  } @else {
  <div class="h-3/4 w-full grid place-items-center text-white">
    You don't added any transaction yet.
  </div>
  }
</div>
